.estiloss {
  background-color: blueviolet;
  margin: 0 auto;
  width: 60%;
  height: 300px;
  border-radius: 30px;
  margin-top: 100px;
}

.estiloss input {
  position: relative;
  top: 100px;
}

.estiloss p {
  font-size: 2rem;
  border: solid 2px white;
  border-radius: 30px;
  width: 50%;
  margin: 0 auto;
  font-family: fantasy;
  font-weight: 900;
}
